<form method="post" action="{{ path('cart_add', {id: product.id}) }}">
    <label>
        <input type="date" name="startDate" required>
    </label>
    <label>
        <input type="date" name="endDate" required>
    </label>
    <label>
        <input type="number" name="quantity" value="1" min="1">
    </label>
    <button type="submit">Ajouter au panier</button>
</form>
